# IDE specific files
.idea/
.vscode/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

*.iml
.DS_Store

# Ignore docx and html files generated in the root folder
/*.docx
/*.html

.git-credentials